{% set page = 'les-videos' %}

{% extends '../../partials/base.twig' %}

{% block title %}Les vidéos{% endblock %}

{% block body %}
<div id="video-index">
  <section>
    <article class="container">
      <div class="contenu">
        <h1>Les vidéos</strong></h1>
      </div>
    </article>

    <article class="container">
      <ul class="liste-niveaux liste-figures">
        {% for niveau in datas.niveaux %}
          <li class="{{ niveau.color }}">
            <figure>
              <img src="images/{{ niveau.slug | lower }}.jpg" alt="Vidéos niveau {{ niveau.slug | upper }}" />
              <figcaption>
                <a class="no-size" href="/les-videos/{{ niveau.slug | lower }}">Vidéos niveau {{ niveau.slug | upper }}</a>
                <h2><a href="/les-videos/{{ niveau.slug | lower }}">{{ niveau.slug | upper }}</a></h2>
              </figcaption>
            </figure>
          </li>
        {% endfor %}
      </ul>
    </article>
  </section>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
