<html lang="fr">
  <head>
		<meta charset="utf-8">
    <title>{% block title %}Accueil{% endblock %} - Maîtresse Mathilde</title>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="/favicon.ico" type="image/ico" rel="shortcut icon"> -->
    <meta name="author" content="Maxence Deschamps">
    <meta name="description" content="Classe virtuelle de Maîtresse Mathilde - Niveau CP, CE1, CE2, CM1, CM2 - Cours, Vidéos, Exercices" />
    <link href="/assets/style.min.css" type ="text/css" rel="stylesheet" />
  </head>
  <body>
    {% block nav %}
      <nav>
        <ul id="menu-desktop" class="container">
          <li>
            <a class="title" href="/">Maîtresse <br/><span>Mathilde</span></a>
          </li>

          {% for nav in datas.navigation %}
            <li>
              <a href="/{{ nav.slug }}">{{ nav.title }}</a>
              <ul class="sub-menu">
                {% if nav.slug != 'les-questions' %}
                  {% for niveau in datas.niveaux %}
                    <li>
                      <a href="/{{ nav.slug }}/{{ niveau.slug | lower }}">{{ niveau.slug | upper }}</a>
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </li>
          {% endfor %}
        </ul>

        <button id="toggle-nav">
          <span class="barre"></span>
          <span class="barre"></span>
          <span class="barre"></span>
        </button>

        <ul id="menu-mobile" class="container">
          {% for nav in datas.navigation %}
            <li>
              {% if nav.slug != 'les-questions' %}
                <a class="open-sub-menu" href="#">{{ nav.title }}</a>
                <ul class="sub-menu">
                  <li>
                    <a class="close-sub-menu no-size" href="#">Retour</a>
                    <a href="/{{ nav.slug }}">{{ nav.title }}</a>
                  </li>
                  {% for niveau in datas.niveaux %}
                    <li>
                      <a href="/{{ nav.slug }}/{{ niveau.slug | lower }}">{{ niveau.slug | upper }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <a href="{{ nav.slug }}">{{ nav.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endblock %}

    <div id="app">
      {% block body %}{% endblock %}
    </div>

    {% block footer %}
      <footer>
        <span>&copy; Maxence Deschamps {{ "now"|date("Y") }}</span>
      </footer>
    {% endblock %}

    <script type="text/javascript" src="/assets/script.js"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
