{% set page = 'les-cours' %}

{% extends '../../partials/base.twig' %}

{% block title %}Les cours{% endblock %}

{% block body %}
<div id="accueil">
  <section>
    <article class="container">
      <div class="contenu">
        <h1>Les cours</h1>
      </div>
    </article>

    <article class="container">
      <ul class="liste-niveaux">
        {% for niveau in datas.niveaux %}
          <li>
            <figure>
              <img src="images/{{ niveau.slug | lower }}.jpg" alt="Cours niveau {{ niveau.slug | upper }}" />
              <figcaption>
                <a class="no-size" href="/les-cours/{{ niveau.slug | lower }}">Cours niveau {{ niveau.slug | upper }}</a>
                <h2><a href="/les-cours/{{ niveau.slug | lower }}">{{ niveau.slug | upper }}</a></h2>
              </figcaption>
            </figure>
          </li>
        {% endfor %}
      </ul>
    </article>
  </section>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
