{% set page = 'les-exercices' %}

{% extends '../../partials/base.twig' %}

{% block title %}Les exercices{% endblock %}

{% block body %}
<div id="accueil">
  <section>
    <article class="container">
      <div class="contenu">
        <h1>Les exercices</strong></h1>
      </div>
    </article>

    <article class="container">
      <ul class="liste-niveaux liste-figures">
        {% for niveau in datas.niveaux %}
          <li>
            <figure>
              <img src="images/{{ niveau.slug | lower }}.jpg" alt="Exercices niveau {{ niveau.slug | upper }}" />
              <figcaption>
                <a class="no-size" href="/les-exercices/{{ niveau.slug | lower }}">Exercices niveau {{ niveau.slug | upper }}</a>
                <h2><a href="/les-exercices/{{ niveau.slug | lower }}">{{ niveau.slug | upper }}</a></h2>
              </figcaption>
            </figure>
          </li>
        {% endfor %}
      </ul>
    </article>
  </section>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
